body {
    
    background-color: black;
    color: aqua;
    
}

img{
    
    
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 100%;
    display: block; /* remove extra space below image */  
    vertical-align: middle;
    
    
}

button {
    
    border: 2px solid navy;
    color: aqua;
    background-color: 	#282828;
    font-size: 20px;
    width: 30%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 20px;
    
}

.row{
    margin-top: 10px;
    overflow: hidden;
    clear: both;
    
    
    
}

#wrapper {
    
    padding-left: 10%;
    padding-right: 10%;
}

#head {
    

    font-family: sans-serif;
    background-size: auto;   
    text-align: center;
    border: 2px solid black;
    border-color: black black navy black;
}

#game{
    
    float: left;
    width: 70%;
    height: 600px;
    font-family: sans-serif;
    background-color: black;
    border: 2px solid black;
    
    text-align: center;
    overflow: auto;

    
    
    
    
    
    line-height: 40px;
    text-align: center;
    overflow: hidden;
    
      
  
  
  
  

}

#timer{
    

    float: right;
    width: 29%;
    height: 300px;
    font-family: sans-serif;
    line-height: 300px;
    text-align: center;
    text-align: center;
    border: 2px solid navy;
   

    
    
    
}

#audio{
    
    float: right;
    width: 29%;
    margin-top: 12px;
    height: 286px;
    font-family: sans-serif;
    border: 2px solid navy;
    text-align: center;
    
}

#output{

    
    float: left;
    width: 70%;
    height: 200px;
    font-family: sans-serif;
    overflow: auto;
    
    
    text-align: center;
    border: 2px solid black;
    padding-top: 10px;
    

    
    
     
    
}

#outputText {
    
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    
    
}
    
#accessibility{
    float: right;
    width: 29%;
    height: 200px;
    font-family: sans-serif;
    margin: 0 auto; 
    text-align: center;
    border: 2px solid navy
    
}

.player {
    
    color: white;
    text-align: justify;
    font-size: 1.0em;
    
}

.system {
    
    font-family: monospace;
    font-size: 1.4em;
    
    text-align: justify;
    
}

form { 
margin: 100px auto; 
width:75%;
}

input:focus {
  width: 100%;
}

.col {
  float: left;
  width: 50%;
}

#start{
    width: 25%;
    padding: 12px 20px;
    margin: auto;
    display: block;
    border: 2px solid navy;
    color: aqua;
    background-color: black;
    font-size: 20px;
    width: 20%;
    height: 40%;
    border-radius: 20px;
    text-align: center;
}

#out{
    visibility: hidden;
}

#thanks{
    visibility: hidden;
}

#form{
    visibility: visible;
}

#WinLose{
    font-size: 500%;
}

#fieldset{
    
    border: 2px solid navy;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
 
}

#start {
    
    
    border-radius: 20px;
    width: 15%;
    height: 15%;
    
}

#waves {
    
    width: 110%;

    
}

audio {
    
    height: 30px; 

}





